doctype html
html
  head
    block head
    meta(charset="utf8")
    link(href='//fonts.googleapis.com/css?family=Roboto:300,400,700',rel='stylesheet',type='text/css')
    link(rel="stylesheet",href="/styles/index.css")
    link(rel="stylesheet",href="/styles/highlight.css")
  body
    nav
      .menu
        ol
          each category in pages[activeLanguageCode]
            - var isCategoryActive = activeCategory != null && category.name == activeCategory.name
            li= category.title
            ol
              each page in category.pages
                - var isActive = isCategoryActive && page.name == activePage.name
                li
                  a(href="/#{activeLanguageCode}/#{category.name}/#{page.name}",class= isActive ? 'active' : '')= page.title
      .language
        select
          each language, languageCode in languages
            - var isLanguageActive = activeLanguageCode == languageCode
            option(value=languageCode,selected=isLanguageActive)= language
    main
      header
        a(href="http://superpowers-html5.com/")
          img(src="/images/icon.png")
          span Make games with Superpowers &mdash; The extensible, collaborative HTML5 2D+3D game maker

      .page
        block content
    script!= javascript
    script.
      var languageSelector = document.querySelector(".language select");
      languageSelector.addEventListener("change", function(event) {
        
        var activePages = app.pages[languageSelector.value];
        var activeCategoryName = Object.keys(activePages)[app.categoryIndex];
        var activeCategoryPages = activePages[Object.keys(activePages)[app.categoryIndex]].pages;
        var activePageName = Object.keys(activeCategoryPages)[app.pageIndex];
        
        window.location.href = "/" + languageSelector.value + "/" + activeCategoryName + "/" + activePageName;
      });
