doctype html
html
  head
    block head
    meta(charset="utf8")
    link(href='//fonts.googleapis.com/css?family=Roboto:300,400,700',rel='stylesheet',type='text/css')
    link(rel="stylesheet",href="/styles/index.css")
    link(rel="stylesheet",href="/styles/highlight.css")
  body
    nav
      ol
        for category in pages
          - var isCategoryActive = activeCategory != null && category.name == activeCategory.name
          li= category.title
          ol
            for page in category.pages
              - var isActive = isCategoryActive && page.name == activePage.name
              li
                a(href="/#{language}/#{category.name}/#{page.name}",class= isActive ? 'active' : '')= page.title

    main
      header
        a(href="https://sparklinlabs.com/")
          img(src="/images/icon.png")
          span Make games with Superpowers &mdash; The extensible, collaborative HTML5 2D+3D game maker

      .page
        block content
